<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tanaman</title>
    <%- include('./partials/head'); %>
</head>
<header>
    <%- include('./partials/navAdmin'); %>
</header>
<body>
    <div class="container2">
      <h1 class="my-5 text-center">Edit Data Tanaman</h1>
      <form class="my-5 " enctype="multipart/form-data" method="POST" action="/eedit/<%= tanaman %>">
        <div class="mb-3">
          <label for="nama" class="form-label" style="padding-top: 15px; font-size: larger;">Nama Tanaman</label>
          <input type="text" class="form-control" name="name" id="name"  value="<%= tanaman.name %>" required>
        </div>
        <div class="mb-3">
          <label for="kategori" class="form-label" style="padding-top: 15px; font-size: larger;">Kategori </label>
          <input type="text" class="form-control" name="kategori" id="kategori"  value="<%= tanaman.kategori %>" required>
        </div>
        <div class="mb-3">
          <label for="lokasi" class="form-label" style="padding-top: 15px; font-size: larger;">Lokasi Tanaman</label>
          <input type="text" class="form-control" name="lokasi" id="lokasi"  value="<%= tanaman.lokasi %>" required>
        </div>
        <div class="form-group">
          <label for="deskripsi" class="form-label" style="padding-top: 15px; font-size: larger;">Deskripsi</label>
          <textarea class="form-control" id="deskripsi" rows="3" name="deskripsi" ><%= tanaman.deskripsi%></textarea>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label" style="padding-top: 15px; font-size: larger;">Gambar Artikel</label>
          <input class="form-control" type="file" name="img" >
        </div>
        <% if(tanaman.img){%>
          <img src="/images/<%= tanaman.img %>" alt="image" width="120">
        <% } %>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="text-center my-5">
        <p class="fw-bold">Another</p>
        <a href="/admin" class="text-decoration-none text-secondary fw-bold px-3 py-1">Back to User All</a>
    </div>


    </div>

</body>
</html>